img {
    height: 183px;
    width: 275px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.web-title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: gold;
}

.choice-container {
    text-align: center;
    background-color: maroon;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding: 12px;
    height: 230px;
}

.choice {
    display: inline-block;
}

.recipe-button {
    background-color: gold;
    text-align: center;
    padding: 2px;
}

.img-attribution {
    background-color: gold;
    text-align: left;
    font-size: 10px;
}

.intro-package {
    background-color: orange;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.image-describe {
    display: inline-block;
    vertical-align: top;
    padding-right: 40px;
}

.ingrediants {
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid;
}

.steps {
    background-color: gold;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}